
<form #temp="ngForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email"[(ngModel)]="User.email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" required pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$">
       <div *ngIf="(email.touched ||temp.submitted)&& email.errors?.['required']" class="text-danger">
        Email is required
       </div>
       <div *ngIf="(email.touched ||temp.submitted)&& email.errors?.['pattern']" class="text-danger">
        Enter valid email
       </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="User.password" id="exampleInputPassword1">
    </div>
   
    <button type="submit" class="btn btn-primary"[disabled]=temp.form.invalid>Submit</button>
  </form>